<div id="community-guide-footer">
    <div id="guide-menu">
      <a href="/guide/terms" class="arrow-button"><span>Use of Innoverse</span></a>
      <a href="/guide/" class="arrow-button"><span>Innoverse Code of Conduct</span></a>
      <a href="/installation/" class="arrow-button"><span>How to install Innoverse ?</span></a>
    </div>
</div>