<div id="wrapper">
<% if (session.inid) { %>
    <% const url_id = "/users/" + encodeURIComponent(session.inid); %>
<div id="sub-body">
    <menu id="global-menu">
        <li id="global-menu-logo">
            <h1><img src="/img/innoverse_logo.png" alt="Innoverse" width="1159" height="238"></h1>
        </li>
        <li id="global-menu-mymenu" <% if (page === "user") { %> class="selected" <% } %>>
            <a href="<%= url_id %>">
                <span class="icon-container">
                    <img src=">" alt="user page">
                </span>
                <span>User Page</span>
            </a>
        </li>
        <li id="global-menu-feed" <% if (page === "feed") { %> class="selected" <% } %>>
            <a href="/" class="symbol">
                <span>Activity</span>
            </a>
        </li>
        <li id="global-menu-community" <% if (page === "communities") { %> class="selected" <% } %>>
            <a href="/" class="symbol">
                <span>Communities</span>
            </a>
        </li>
        <li id="global-menu-news" <% if (page === "news") { %> class="selected" <% } %>>
            <a href="/" class="symbol">
                <span>Notifications</span>
                <span class="badge" style="display: none;">0</span>
            </a>
        </li>
    </menu>
</div>
<% } else { %>
<div id="sub-body">
    <menu id="global-menu">
        <li id="global-menu-logo">
            <h1><img src="/img/innoverse_logo.png" alt="Innoverse" width="1159" height="238"></h1>
        </li>
        <li id="global-menu-login">
            <form id="login_form" action="/account/login" method="GET">
                <input type="submit" class="black-button" value="Sign in">
            </form>
        </li>
    </menu>
</div>
<% } %>