<%- include('partials/head.ejs', {
    title : ""
}); -%>

<body class="guest-top guest" data-token="">
<div id="sub-body">
    <menu id="">
        <li id="global-menu-logo"><h1><img src="../img/innoverse_logo.png" alt="Innoverse" width="200" height="55"></h1></li>
        <li id="global-menu-login">
        </li>
    </menu>
</div>

<div id="wrapper"> 
<div id="main-body">
<div class="headline">
    <h2 class="headline-text">Register</h2>
</div>

<form method="post" action="/register">
    <a href="/">
        <img src="../img/innoverse_logo.png" width="165" alt="Innoverse">
    </a>
    <p style="font-size: 16px;">Create your Innoverse Account to see all communities in the world!</p>
    <span class="error-text none" data-no-account="No account could be found with the given Innoverse ID." data-password-mismatch="The given password is incorrect." data-default="Unknown error."></span>
    <input placeholder="Enter your Innoverse ID.." type="text" id="innoverseid" name="innoverseid" required>
    <input placeholder="Enter your Username.." type="text" id="username" name="username" required>
    <input placeholder="Enter your Email.." type="text" id="email" name="email" required>
    <input placeholder="Enter your Password.." type="password" id="password" name="password" required>
    <input placeholder="Enter your NNID.." type="text" id="nnid" name="nnid">

    <input style="background-color: white; border-radius: 8px;" type="submit" value="Sign Up">

    <br>
    <span class="question">Do you have an Innoverse account? You can login <a href="/login">here</a>!</span>
</form>
</div>
</div>
