<% var title = `${inid}'s Profile`; %>
<%- include("../partials/head.ejs", { 
  image_url: "", 
  title: title, 
  description: "Innoverse - Recreation of Miiverse for Wii U & 3DS." 
}) %>
    
    <body class="profile-top guest" data-token="" data-static-root="https://d13ph7xrk1ee39.cloudfront.net/">
          
      <%- include('../partials/navbar.ejs', { page : "user" }) %>
          
      <div id="main-body">
    
    <div id="sidebar" class="user-sidebar">
      <div class="sidebar-container">
          <a href="/web/20170721140142/https://miiverse.nintendo.net/posts/AYMHAAADAAB2V0fjUgXEgw" id="sidebar-cover" style="background-image:url(http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/ss/WVW69j7q4n4Lu6QUqq)">
            <img src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/ss/WVW69j7q4n4Lu6QUqq" class="sidebar-cover-image">
          </a>
        <div id="sidebar-profile-body" class="with-profile-post-image">
          <div class="icon-container">
            <a href="/web/20170721140142/https://miiverse.nintendo.net/users/Liannah3">
              <img src="http://web.archive.org/web/20170721140142im_/https://mii-secure.cdn.nintendo.net/2a2xug71eubeu_normal_face.png" alt="Katherine~" class="icon">
            </a>
          </div>
          
          <a href="/web/20170721140142/https://miiverse.nintendo.net/users/Liannah3" class="nick-name"><%= mii_name %></a>
          <p class="id-name"><%= inid %></p>
        </div>
        
        <ul id="sidebar-profile-status">
          <li><a href="/web/20170721140142/https://miiverse.nintendo.net/users/Liannah3/friends" class=""><span><span class="number test-friend-count">94 / 100</span>Friends</span></a></li>
          <li><a href="/web/20170721140142/https://miiverse.nintendo.net/users/Liannah3/following" class=""><span><span class="number test-following-count">998</span>Following</span></a></li>
          <li><a href="/web/20170721140142/https://miiverse.nintendo.net/users/Liannah3/followers" class=""><span><span class="number test-follower-count">1737</span>Followers</span></a></li>
        </ul>
      </div>
      <div class="sidebar-setting sidebar-container">
        <div class="sidebar-post-menu">
          <a href="/web/20170721140142/https://miiverse.nintendo.net/users/Liannah3/posts" class="sidebar-menu-post with-count symbol">
            <span>All Posts</span>
            <span class="post-count">
              <span class="test-post-count">1327</span>
            </span>
          </a>
          <a href="/web/20170721140142/https://miiverse.nintendo.net/users/Liannah3/empathies" class="sidebar-menu-empathies with-count symbol">
            <span>Yeahs</span>
            <span class="post-count">
              <span class="test-empathy-count">69421</span>
            </span>
          </a>
          <a href="/web/20170721140142/https://miiverse.nintendo.net/users/Liannah3/diary" class="sidebar-menu-diary symbol">
            <span>Play Journal Entries</span>
          </a>
        </div>
      </div>
      <div class="sidebar-container sidebar-profile">
          <div class="profile-comment">
            <p class="js-truncated-text">With Love! Moxie! And Courage!</p>
          </div>
        
        <div class="user-data">
          <div class="user-main-profile data-content">
            <h4><span>Country</span></h4>
            <div class="note">United States</div>
            <h4><span>Birthday</span></h4>
            <div class="note birthday">08/04</div>
          </div>
          <div class="game-skill data-content">
            <h4><span>Game Experience</span></h4>
            <div class="note">
              <span class="test-game-skill intermediate">Intermediate          </span>
            </div>
          </div>
          <div class="game data-content">
            <h4><span>Systems Owned</span></h4>
            <div class="note"><div class="device-wiiu"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/wiiu.png?QGR7_Xj-RRrTprcfcKcSWg" class="wiiu-icon"><span>Wii U</span></div><div class="device-3ds"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/n3ds.png?vQ99K1ReXZjO7Jo44_bNMg" class="n3ds-icon"><span>System in the Nintendo 3DS Family</span></div>
            </div>
          </div>
          <div class="favorite-game-genre">
            <h4><span>Favorite Game Genres</span></h4>
            <div class="note">
              <span data-test-genre-code="simulation">Simulation</span><span data-test-genre-code="adventure">Adventure</span><span data-test-genre-code="rpg">RPG</span>
              
            </div>
          </div>
        </div>
      </div>
      <div class="link-container adx-link-container">
        <p><a href="http://web.archive.org/web/20170721140142/http://www.nintendo.com/interest-based-ads-policy" class="test-about-ad-link">Interest-Based Ads</a></p>
        
        <p><a href="http://web.archive.org/web/20170721140142/http://support.nintendo.com/miiversehelp" class="test-contact-link">Contact Us</a></p>
        <p><a href="http://web.archive.org/web/20170721140142/http://www.nintendo.com/corp/privacy.jsp" class="test-privacy-policy-link">Privacy Notice</a></p>
      </div>
    
        <div class="sidebar-container sidebar-favorite-community">
          <h4><a href="/web/20170721140142/https://miiverse.nintendo.net/users/Liannah3/favorites" class="symbol favorite-community-button"><span>Favorite Communities</span></a></h4>
          <ul class="test-favorite-communities">
                <li class="favorite-community">
                  <a href="/web/20170721140142/https://miiverse.nintendo.net/titles/3626946842056107050/3626946842056107061"><span class="icon-container"><img class="icon" src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/tip/AAQAAAAWxwARvF3C9R"></span></a>              
                    <span class="platform-tag"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/platform-tag-3ds.png?BE42oN3iuXY-1RItS5goxA"></span>
                  
                </li>
                <li class="favorite-community">
                  <a href="/web/20170721140142/https://miiverse.nintendo.net/titles/14866558073336784471/14866558073336784484"><span class="icon-container"><img class="icon" src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/tip/AAQAAAAS-QAsvAQhem"></span></a>              
                    <span class="platform-tag"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/platform-tag-3ds.png?BE42oN3iuXY-1RItS5goxA"></span>
                  
                </li>
                <li class="favorite-community">
                  <a href="/web/20170721140142/https://miiverse.nintendo.net/titles/6437256809029380583/6437256809029380592"><span class="icon-container"><img class="icon" src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/tip/AAQAAAAZEAA7cQ8kTS"></span></a>              
                    <span class="platform-tag"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/platform-tag-3ds.png?BE42oN3iuXY-1RItS5goxA"></span>
                  
                </li>
                <li class="favorite-community">
                  <a href="/web/20170721140142/https://miiverse.nintendo.net/titles/6437256809106444476/6437256809106444479"><span class="icon-container"><img class="icon" src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/tip/AAQAAAAZqQA2HZ0x-d"></span></a>              
                    <span class="platform-tag"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/platform-tag-3ds.png?BE42oN3iuXY-1RItS5goxA"></span>
                  
                </li>
                <li class="favorite-community">
                  <a href="/web/20170721140142/https://miiverse.nintendo.net/titles/6437256808732755089/6437256808732755095"><span class="icon-container"><img class="icon" src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/tip/AAQAAAAQFgA7aMbef7"></span></a>              
                    <span class="platform-tag"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/platform-tag-3ds.png?BE42oN3iuXY-1RItS5goxA"></span>
                  
                </li>
                <li class="favorite-community">
                  <a href="/web/20170721140142/https://miiverse.nintendo.net/titles/14866558073456063426/14866558073456063433"><span class="icon-container"><img class="icon" src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/tip/AAQAAAARMgAb0Jk4hp"></span></a>              
                    <span class="platform-tag"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/platform-tag-3ds.png?BE42oN3iuXY-1RItS5goxA"></span>
                  
                </li>
                <li class="favorite-community">
                  <a href="/web/20170721140142/https://miiverse.nintendo.net/titles/14866558073691131186/14866558073691131196"><span class="icon-container"><img class="icon" src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/tip/AAQAAAAWbwAw6P5pFM"></span></a>              
                    <span class="platform-tag"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/platform-tag-3ds.png?BE42oN3iuXY-1RItS5goxA"></span>
                  
                </li>
                <li class="favorite-community">
                  <a href="/web/20170721140142/https://miiverse.nintendo.net/titles/6437256808802646886/6437256808802646892"><span class="icon-container"><img class="icon" src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/tip/AAQAAAAWdwA5KB6_pG"></span></a>              
                    <span class="platform-tag"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/platform-tag-3ds.png?BE42oN3iuXY-1RItS5goxA"></span>
                  
                </li>
                <li class="favorite-community">
                  <a href="/web/20170721140142/https://miiverse.nintendo.net/titles/6437256808786423085/6437256808786423092"><span class="icon-container"><img class="icon" src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/tip/AAUAABAQVwAxL4VA65"></span></a>              
                    <span class="platform-tag"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/platform-tag-wiiu-3ds.png?RDl5yYHPpQLdPJ9mgRraHQ"></span>
                  
                </li>
                <li class="favorite-community">
                  <a href="/web/20170721140142/https://miiverse.nintendo.net/titles/14866558073079465303/14866558073079495562"><span class="icon-container"><img class="icon" src="http://web.archive.org/web/20170721140142im_/https://d3esbfg30x759i.cloudfront.net/cip/zlCfzRKee4oj3KxbmZ"></span></a>              
                    <span class="platform-tag"><img src="http://web.archive.org/web/20170721140142im_/https://d13ph7xrk1ee39.cloudfront.net/img/platform-tag-wiiu.png?1FkN4AaoGMfiRidwKs0h3w"></span>
                </li>
          </ul>
        </div>
    </div>
  </div>  
</body>